.form-style-5 {
    max-width: 800px;
    padding: 20px;
    background: #f4f7f8;
    margin: 20px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Added shadow */
}

h1 {
    font-size: 28px; /* Adjust the font size */
    color: #fff; /* Change the text color */
    text-align: center; /* Center the heading */
    margin-bottom: 20px; /* Add some bottom margin */
    text-transform: uppercase; /* Transform text to uppercase */
    background-color: #1abc9c; /* Background color */
    padding: 10px 20px; /* Padding for the heading */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

.form-style-5 fieldset {
    border: none;
}

.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.form-style-5 label {
    display: block;
    margin-bottom: 8px;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="time"],
.form-style-5 textarea,
.form-style-5 select {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255, 255, 255, .1);
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin: 0;
    outline: 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color: #8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus {
    background: #d2d9dd;
}

.form-style-5 select {
    -webkit-appearance: menulist-button;
    height: 35px;
}

.form-style-5 .form-check-label {
    margin-left: 5px;
}

.form-style-5 .btn-primary {
    background: #1abc9c;
    color: #fff;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    margin-bottom: 10px;
}

.form-style-5 .btn-primary:hover {
    background: #109177;
}
