/* styles.css */

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f4f7f8;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Added shadow */
}

h1 {
  font-size: 28px; /* Adjust the font size */
  color: #fff; /* Change the text color */
  text-align: center; /* Center the heading */
  margin-bottom: 20px; /* Add some bottom margin */
  text-transform: uppercase; /* Transform text to uppercase */
  background-color: #1abc9c; /* Background color */
  padding: 10px 20px; /* Padding for the heading */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Box shadow */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
